
body
{
  font-size: 1,3em;
  font-family: "OpenSans",sans-serif;
  background-color: whitesmoke;
  padding: 12px;
  margin: 50px;

}


footer
{
	color: white;
	background-color: black;
	text-align: center;
}

#case0
{
	background-color: whitesmoke;
  	padding: 12px;
  	margin: 50px;
}

#case1
{
	display: flex;
	color: white;
	background-color: black;
	float: center
	border inherit solid grey;

}

#case2
{
	display: flex;
	color: white;
	background-color: black;

}

#case3
{
	display: flex;
	color: white;
	background-color: black;
}

