
body
{
	font-size: 1,3em;
  font-family: "OpenSans",sans-serif;
  padding: 12px;
  margin: 50px;

}

.formulaire
{
	
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    

}

.bord
{
	width:350px;
	
	text-align: justify; 
	font-size: medium;
	float: right;

	
}

.text
{
	width:350px;
	text-align: justify; 
	font-size: medium;
}


footer
{
	color: white;
	background-color: black;
	text-align: center;
}


